.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
  height: 100vh;
  width: 100vw;
}

.InitialLetter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
}

.Timer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-column-end: 3;
}

.ActionButtons {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-column-end: 4;
}

.CategoryList {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-column-end: 4;
}
